<div class="modal fade" #modalRef id="terms-conditionsModal" tabindex="-1" role="dialog" aria-labelledby="terms-conditionsModalTitle"
        aria-hidden="true">

        <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content get-support-modal">
                    <div class="modal-header border-bottom-0 pl-3">
                        <h5 class="modal-title font-weight-bold" id="exampleModalCenterTitle">Terms and Conditions</h5>
                        <a href="" #cancelModal class="close font-size-base" data-dismiss="modal" aria-label="Close"><i class="icon-delete_icon_black"></i></a>
                      </div>
      
                  <div class="modal-body px-3">
                        <p>Please read these terms of use carefully before accessing, using or participating in this website and its contents.</p>

                        <p>By accessing, using or participating any part of this web site or any other web sites (each, a "Site") or other online service with links to these Terms of Use (the "General Terms"), or by merely browsing the Services, you shall be deemed to have accepted to be legally bound by these Terms of Use and the Online Privacy Policy, which is incorporate herein by reference. "Materials" means any content made available or enabled you or other users of the Services and includes, without limitation, any products, services, courses, materials, information, data, documents, images, photographs, graphics, audio, videos, or webcasts, products and Software code and associated documentation ("Software"). If you do not agree to these Terms of Use, you are not authorised to use or continue using this Website. Any continued use of the Website at any time will imply that you have accepted these Terms of Use.</p>

                        <p>You may not use the Services, if you are prohibited by Law from receiving or using the Services. Also, unless expressly stated in the additional terms for any given Service, you may not use the Services unless you are fully able and competent to enter into the conditions, obligations, representations and other terms of these General Terms. In particular, you affirm that you are over the age of 18 and acknowledge that these Services are not intended for persons under age under 18.</p>

                        <p>Certain Services and Materials available only, if you have registered as a student and provided certain Registration information and /or created an University User ID and Password. Certain services may be available to the students, subject to agreement and posted guidelines ("Additional Terms"). The General Terms and any applicable Additional Terms and all other documents incorporated by reference in these General Terms are referred collectively as "Terms".</p>

                        <p>General: The University reserves the right to modify these Terms of Use at any time and publish such modified terms online at this site or elsewhere online from time to time. All changes will be posted on this page; by continuing to access such site after such modifications have been published you signify your agreement to be bound by such modified terms. Your use of the Services is subject to the most current version of the Terms posted on or through affected Service at the time of such use.</p>
                  </div>                  
                </div>
        </div>
</div>