
<div class="card bg-blue mb-0">
        <!--loggged in user-->
        <div class="card-content">
                <div class="card-body profile-header-card">
                    <div class="card-text">
                        <div class="row">
                            <div class="col-12">
                                            <div class="profile-header-image mr-1">
                                                <img src="{{sectionImgUrl}}" alt="{{sectionsName}}">
                                            </div>
                                        <div class="profile-header-content">
                                                <h4 class="text-white loggedin-username ml-1">{{sectionsName | translate}}</h4>
                                                <p class="manage-help-text ml-1">{{helptext | translate}}</p>
                                        </div>
                            </div>
                        </div>
              </div>
          </div>
      </div>
    </div>
