<!--Footer Starts-->
<footer class="footer footer-static footer-light navbar-border" id="stackFooter">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">{{'components1.navbar_comp.copy' | translate}} &copy; {{currentDate | date: 'yyyy'}}
            <a href="https://www.edunxt.co.in/" target="_blank" class="color-blue">EduNxt</a>, {{'components1.navbar_comp.all' | translate}}
                <!-- <span class="powered-by">
                        <a href="javascript:void(0)" (click)="useLanguage('en')">English </a>
                        <a href="javascript:void(0)" (click)="useLanguage('hi')"> Hindi</a>
                </span> -->
        </span>

    </p>

</footer>
<!--Footer Ends-->
